body { margin: 0px;

    background-color: lightgreen;
    
    }
    
    h1 { color: yellow;
        background-color: gray;
         display: inline;
          position:relative;  
           left: 43vw
       }
       
    .link-paginas { position: relative;
        left: 33vw;
    padding-top: 0px;
    background-color:tomato;
    display: inline;
    top:20px
    }
    
    h2 { position: relative;
    left: 13px;

    }
    
    li { list-style-type: lower-roman;
         
    padding: 10px

    }
    
    .colab {position: relative;
    top: 100px;
    left: 60px;
    padding-bottom:10px

}